<h1>New Review</h1>

<%= render "form", restaurant: @restaurant, review: @review %>

<%= link_to "Back to all restaurants", restaurants_path %>
<%= link_to "Back to current restaurant", @restaurant %>
